/* 
header{
    text-align: center;
    background-color: aquamarine;
    
}
p{
    color: crimson;
    font-weight: 600;
    font-size: 30px;
}
.liste{
    text-align: center;
    list-style: none;
    
    
    
}
span{
    padding-right: 100px;
   
    border: darkblue;
}
input{
    height: 50px;
    width: 600px;
}
button{
    height: 60px;
    background-color: blue;
} */
header{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(69, 150, 229, 1);
    border-radius: 8px;
    width: 45%;
    height: 16vw;
    margin-left: 25%;  
  }
  .form{
    flex-direction: column;
    height: 70%;
  }
  label{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 70%;
  }
  span{
    color: rgba(49, 47, 47, 0.849);
    font-size: 30px;
    width: 40%;
    margin-left: 2%;  
  }
  input{
    height: 20%;
    border: solid 1px grey ;
    padding: 1vw;
    border-radius: 10px;
    margin-left: 1%;
    width: 90%;
    margin-top:1%;
    margin-bottom: 1%;
  }
  .add{
    height: 20;
    border: solid 1px grey ;
    padding: 1vw;
    margin-left: 80%;
    width: 15%;
    border-radius: 8px;  
  }
  
  .element {
    margin-top: 1%;
    margin-left: 25%;
    height: 30%;
    width: 45%;
    bottom: 20%;
  
    display: flex;
    
  }
  .Btn{
    margin-left: 28%;
    width: 30%;
    
  }
  

  button{
    margin-left: 14%;
    width: 35%;
    height: 3vw;
    border-radius: 8px;
  
  }
   